* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 15rem;
  margin: 24px;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-border {
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 20px;
}

.qr-img {
  width: 100%;
  border-radius: 10px;
}

.title {
  margin: 12px;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 16px;
}
.title:hover {
  color: #3785fd;
}

p {
  margin: 16px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 15px;
}
